<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpage.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>MovieMemo</title>
</head>
<body>


    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">
                <a href="/">MovieMemo</a>
            </div>
        </div>
    </nav>

    <div class="wrapper">
      <input class="search-box-word" type="text" placeholder="영화 제목을 입력해주세요">
      <button class="">검색</button>

      <table>
        <thead>
            <tr>
              <th>닉네임</th>
              <th>영화 제목</th>
              <th>리뷰 내용</th>
              <th>좋아요 수</th>
              <th>신고수</th>
                <th>작성일</th>
                <th>편집일</th>
                <th>리뷰삭제</th>
                <th>강제퇴장</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>사용자1</td>
              <td>영화1</td>
              <td>아주 재미있었어요!</td>
              <td>10</td>
              <td>3</td>
                <td>2023-01-01</td>
                <td>2023-01-02</td>
                <td><button class="review-delete-btn" type="submit">삭제</button></td>
                <td><button class="member-delete-btn" type="submit">회원탈퇴</button></td>
            </tr>
        </tbody>
      </table>

      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
      </div>

          <div id="delete-modal" class="modal">
              <div class="del-modal-content">
                  <p>정말 삭제하시겠습니까?</p>
                  <p>삭제 시, 복구할 수 없습니다.</p>
                  <button id="confirm-delete" class="modal-btn">예</button>
                  <button id="cancel-delete" class="modal-btn">아니오</button>
              </div>
          </div>

          <div id="patch-modal" class="modal">
              <div class="modal-content">
                  <h2>리뷰 상세보기</h2>
                  <form id="patch-form">
                      <textarea id="patch-content" rows="10" style="width: 100%;"></textarea>
                      <div class="modal-btn-container">
                          <button type="button" id="confirm-patch" class="modal-btn">닫기</button>
                      </div>
                  </form>
              </div>
          </div>


    
</body>
<script defer src="/js/mypage.js"></script>

</html>
