<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/review.css">
    <script defer src="/public/js/review.js"></script>
</head>
<body>
    <h1> <%= title %> </h1>
    <main id="movie_info_container">
        <section id="movie_poster">
            movie poster
        </section>

        <section id="movie_info_sub_container">
            <article class="movie_info_01">
                <div class="movie_description">
                    영화 내용
                </div>

                <div class="movie_cast">
                    출연자
                </div>

                <div class="movie_review">
                    영화 리뷰
                    <button type="button">
                        리뷰 작성
                    </button>

                </div>
            </article>

            <article class="movie_info_02">
                <div class="moive_release">
                    영화 개봉일
                </div>
            </article>
        </section>

    </main>
</body>
</html>