<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new rendering</title>
  <link rel="stylesheet" href="/css/review.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script defer src="/js/review.js"></script>
</head>
<body>
  <main id="page_container">

    <div class="trailer_box">
    </div>

    <div id="movie_info_container">
      <section class="poster_container">
        <article class="poster_box"></article>
        
        <div class="rating_box">
          <div class="rating">
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
          </div>
        </div>
      </section>
  
      <section class="info_container">
        <article class="sub_info_box">
          <div class="detail_info_box">
            <div class="movie_title">
              <p class="contents_title">
              </p>
            </div>
  
            <div class="sub_detail_box">
              <div class="detail_box">
                <p class="contents_title">
                  Details
                </p>
  
                <ul class="detail_info_list">
                  <li>
                    Director: <span class="director"></span>
                  </li>
                  <li>
                    Genre: <span class="genre"></span>
                  </li>
                  <li>
                    Release Date: <span class="release_date"></span>
                  </li>
                </ul>
              </div>
              <div class="cast_box">
                <p class="contents_title">Cast</p>
                <ul class="cast_list">
                </ul>
              </div>
            </div>
          </div>
  

        </article>
        <article class="story_box">
          <p class="contents_title">Storyline</p>
          <p class="content_text"></p>
        </article>
      </section>
    </div>

    <section id="review_container">
      <button onclick="postReview();">리뷰 작성 버튼</button>
      <div class="movie_review_modal_bg hidden">
        <div class="movie_review_modal">
            <form action="" name="review-form">
                <textarea name="review_post" id="review_post" cols="50" rows="20"></textarea>
                <button type="submit" class="reviewSubBtn" onclick="reviewSubmit()">제출</button>
                <button type="button" class="button_close" onclick="closeModal()">X</button>
            </form>
        </div>
    </div>

      <div class="review_box">
        <span>유저 이름</span>
        <span>별점 공간</span>
        <button type="button" class="like_btn">좋아요</button>
        <button type="button" class="edit_btn">수정버튼</button>
        <p class="likeCount"></p>
        <p>
          리뷰 내용 블라 블라
        </p>
        <p>
          <span>날짜</span>
          <button type="button" class="deleteBtn" data-review-id="123">삭제</button>
          <button type="button" class="warning_btn" onclick="waringBtn()">신고버튼</button>
        </p>
      </div>

    </section>
  </main>
</body>
</html>