<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/review.css">
    <script defer src="/public/js/review.js"></script>
</head>
<body>
    <main id="movie_info_container">
        <section id="movie_poster">
            <div class="poster_box">
                <div class="movie_title">
                    해리포터와 마법사의 돌
                </div>
            </div>
            <img src="/public/img/poster.jpg" alt="해리포터와 마법사의 돌">
        </section>

        <section id="movie_info_sub_container">
            <article class="movie_info_01">
                <div class="movie_description movie_common">
                    <p class="info_sub_title">
                        줄거리
                    </p>
                    <p class="info_sub_content">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum excepturi quos, repellendus nobis quidem quibusdam.
                    </p>
                </div>

                <div class="movie_cast movie_common">
                    <p class="info_sub_title">
                        출연자
                    </p>
                    <ul class="cast_list">
                        <li>홍길동</li>
                        <li>장발장</li>
                        <li>이길동</li>
                        <li>정발장</li>
                        <li>고길동</li>
                        <li>박발장</li>
                    </ul>
                </div>

                <div class="movie_review movie_common">
                    <div class="info_sub_box">
                        <span class="info_sub_title">영화 리뷰</span>
                        <button type="button" class="button_open" onclick="postReview()">
                            + add your review 
                        </button>
                    </div>
                    <div class="movie_review_modal_bg hidden">
                        <div class="movie_review_modal">
                            <form action="" name="review_post">
                                <textarea name="review_post" id="" cols="50" rows="20"></textarea>
                                <button type="submit">제출</button>
                                <button type="button" class="button_close" onclick="closeModal()">X</button>
                            </form>
                        </div>
                    </div>
                    <div class="swiper">
                        <div class="review_post_container swiper-wrapper">
                            <div class="swiper-slide">
                                <p>유저 닉네임1</p>
                                <p>리뷰 내용1</p>
                            </div>
                            <div class="swiper-slide">
                                <p>유저 닉네임2</p>
                                <p>리뷰 내용2</p>
                            </div>
                            <div class="swiper-slide">
                                <p>유저 닉네임3</p>
                                <p>리뷰 내용3</p>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
      
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </article>



            <article class="movie_info_02">
                <div class="movie_release movie_common">
                    <p class="info_sub_title">
                        개봉일
                    </p>
                    <p>
                        2222.02.22
                    </p>
                </div>

                <div class="moive_rating movie_common">
                    <p class="info_sub_title">
                        별점
                    </p>
                    <p>
                        별점 매길 곳
                    </p>
                </div>

                <div class="movie_genre movie_common">
                    <p class="info_sub_title">
                        영화 장르
                    </p>
                    <ul class="genre_list">
                        <li>호러</li>
                        <li>로맨스</li>
                        <li>코미디</li>
                    </ul>
                </div>
                <div class="movie_director movie_common">
                    <p class="info_sub_title">
                        영화 감독
                    </p>
                    <span class="director_name">
                        장발장
                    </span>
                </div>
            </article>
        </section>
    </main>

</body>
</html>