<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
</head>
<nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <a href="#">MovieMemo</a>
      </div>
    </div>
  </nav>

  <div class="wrapper">
    <h1>회원가입</h1>
    <form action="/register" method="POST">
      <input
        type="text"
        id="user-id"
        name="name"
        placeholder="아이디"
      /><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="비밀번호"
      /><br />
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="비밀번호 확인"
      /><br />
      <input
        type="text"
        id="username"
        name="nick"
        placeholder="닉네임"
      /><br />

      <label for="gender">성별</label><br /><br />
      <input type="radio" id="male" name="gender" value="male" />
      <label for="male">남성</label>
      <input type="radio" id="female" name="gender" value="female" />
      <label for="female">여성</label><br /><br />

      <label for="age">연령대</label><br /><br />
      <input type="radio" id="age10s" name="age" value="10s" />
      <label for="age10s">10대</label>
      <input type="radio" id="age20s" name="age" value="20s" />
      <label for="age20s">20대</label>
      <input type="radio" id="age30s" name="age" value="30s" />
      <label for="age30s">30대</label>
      <input type="radio" id="age40s" name="age" value="40s" />
      <label for="age40s">40대이상</label><br /><br />

      <div id="name-error" class="error-message"></div> <!-- Error message placeholder for name -->
      <div id="password-error" class="error-message"></div> <!-- Error message placeholder for password -->
      <!-- write error message for confirmPassowrd later(현재 벡엔드코드 없는걸로 보임)  -->
      <div id="nick-error" class="error-message"></div> <!-- Error message placeholder for nick -->

        <!-- write error message code for gender and age later-->             

      <button class="signup-btn" type="submit">가입하기</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/signup.js"></script>
</body>
</html>