* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #050C0A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    background: #050C0A;
    padding: 0 15px;
    margin-bottom: 100px;
    margin-top: 10px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.search-button, .del-btn, .patch-btn{
    background-color: #C9302C;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    border: none;
    outline: none;
    color: white;
    
}

button:hover {
    background-color: #B20710;
    cursor: pointer;
}
button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.signup-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4E4E4;
}
.wrapper {
    width: 90%;
    padding: 16px 16px;
    margin: 25px auto;
    background-color: rgb(25,26,27);
    border-radius: 10px;
    text-align: center;
    position: relative;
    min-height: 300px;
    flex-grow: 1; /* 페이지 아래까지 공간을 차지하도록 설정 */
    /* overflow: auto; */
    overflow-x: scroll;
}
.wrapper th, tr{
    padding: 0.3em;
    white-space: nowrap;
    height: 3em;
}
.wrapper table {
    width: 100%; /* 너비를 100%로 설정 */
    border-collapse: collapse;
    margin: 7% 0;
    font-size: 1em;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.wrapper table thead tr {
    background-color: #333;
    color: #FFFFFF;
}

.wrapper table th, table td {
    padding: 0 0.8em;
    text-align: center;
}

.wrapper table tbody tr {
    border-bottom: 1px solid #DDDDDD;
}

.wrapper table tbody tr:nth-of-type(even) {
    background-color: #F3F3F3;
}

.wrapper table tbody tr:last-of-type {
    border-bottom: none;
}
.wrapper.button {
    font-size: 16px;
    margin-top: 28px;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 20%;
    color: #fff;
    cursor: pointer;
    background-color: #B20710;
}

.wrapper.button:hover {
    background-color: #C9302C;
}

.admin-search-box{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
}

.admin-search-box .search-box-word {
    width: 200px;
    margin-right: 10px;
    background-color: white;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #E4E4E4;
    height: 38px;
}


h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 60px;
    text-align: center;
}
h2 {
    font-size: 30px;
    color: #07001F;
    margin-bottom: 5%;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fields-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
form input,
form select {
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #E4E4E4;
}
.nick-field, .password-field {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 5px;
}

#sortBy {
    position: absolute;
    right: 4%;
    top: 7%;
    /* transform: translateY(-50%); */
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}
.review-title {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.review-title-row {
    font-size: 25px;
    margin: 0 auto 10px;
    text-align: left;
    width: 100%;
}
.review-content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
}
.review-content {
    display: block;
    font-size: 15px;
    text-align: left;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.2em; /* 기본 한 줄 높이 */
    margin-top: 4px;
}

.full {
    white-space: normal  /* 줄 바꿈 되도록 설정 */ !important;
    overflow: visible   /* 오버플로우 허용 */ !important;
    text-overflow: clip /* 모든 내용을 표시하도록 설정 */ !important;
    max-height: none;   /* 높이 제한 해제 */
}
.read-more {
    color: #B20710;
    cursor: pointer;
    /* display: block; */
    margin-top: 5px;
    width: 10%;
    text-align: center;
}
.likes-count {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: center;
}
.like-img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
.like-num {
    font-size: 20px;
    margin-left: 5px;
}
.review-btn {
    display: flex;
    gap: 5px;
    width: 150px;
    justify-content: center;
}
.review-btn button {
    background-color: #B20710;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}
.pagination {
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #F0F0F0;
    
}

.page-number.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.review-btn button:hover {
    background-color: #8C0610;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.6);
}
.del-modal-content {
    background-color: #FEFEFE;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 1em;

    /* 위치 */
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.patch-modal-content{
    background-color: #FEFEFE;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 1em;

    /* 위치 */
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#review-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 300px; 
}

#review-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-modal .modal-content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    text-align: left;
}

.review-modal-btn {
    margin: 10px;
    cursor: pointer;
    gap: 10px;
    padding: 10px 20px;
    background-color: #B20710;
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center;
}


#review-modal .close-btn:hover {
    background-color: #8C0610;
}

.patch-modal-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.del-modal-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-content h2 {
    margin-bottom: 20px;
}
.modal-btn {
    margin: 10px;
    cursor: pointer;
    gap: 10px;
    padding: 10px 20px;
    background-color: #B20710;
    color: white;
    border: none;
    border-radius: 5px;
}
.modal-btn:hover {
    background-color: #8C0610;
}
#passwordMessage {
    position: absolute;
    top: 7%;
    right: 13%;
}
#chgPasswordMessage {
    position: absolute;
    font-size: 14px;
    top: 41%;
    right: 13%;
}
#confirmPasswordMessage {
    position: absolute;
    top: 73%;
    right: 13%;
}

/* 미디어 쿼리 추가 */
@media (max-width: 800px) {
    .wrapper {
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        overflow-x: scroll; /* 가로 스크롤 추가 */
        position: relative;
    }

    .admin-search-box {
        flex-direction: column;
    }

    .admin-search-box .search-box-word {
        width: 100%;
        margin-right: 0;
    }

    .search-button, .del-btn, .patch-btn {
        width: 100%;
        margin-top: 10px;
    }

    #sortBy {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .modal-content {
        width: 80%;
    }

    .wrapper table {
        width: 100%;
        margin: 4rem 0 0 0;
    }
    


}