* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050c0a;
}

span {
  color: white;
}

.navbar {

    background: #050C0A;
    padding: 0 15px;
    margin-bottom: 100px;
    /* margin-top: 10px; */
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}




button a {
  text-decoration: none;
}
button a:visited {
  color: white;
}

/* first slider */

.first-swiper {
  width: 60%;
  margin-bottom: 50px;
}

.first-swiper .swiper-slide {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  background: rgb(25,26,27);
  padding: 20px;
}

.first-swiper .swiper-slide img {
  width: 200px;
  height: auto;
  margin-right: 30px;
}

.first-swiper .swiper-slide p {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: #b20710 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b20710;
}

.firstSlide-image {
  margin-left: 60px;
  margin-right: 70px;
}

.firstSlide-text {
  margin-left: 50px;
  color: #fefefe !important
}

/* hide the scrollbar temporary */
.swiper-scrollbar {
  display: none;
}

/* movie slider */
.card-content img {
  width: 200px;
  height: 300px;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: inline-block;
  overflow:hidden;
  position: relative;
  padding: 10px;
}

.card-container img{
  transition: transform 0.3s ease;
}

.card-container img:hover{
    transform: scale(1.3)
}

.card-content {
  overflow: hidden;
}

.card__button {
  display: inline-block;
  background-color: #b20710;
  padding: 10px 5px;
  border-radius: 2px;
  color: white;
}

.second-swiper {
  width: 100%;
  margin-bottom: 50px;
}

.second-swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-swiper .card-container {
  width: 100%;
  height: 100%;
}

.second-swiper .card-content img {
  max-width: 100%;
  height: auto;
}

h3 {
  color: white;
  margin-left: 30px;
  margin-bottom: 20px;
}

/* footer */
.footer {
  background-color: #050c0a;
  height: 100px;
}

/* modal */

.hidden {
  display: none;
}

.loginModal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.login-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  /* position the close button */
  position: relative;
  text-align: center;
}

form input {
  width: 80%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.login-btn {
  background: #b20710;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
  margin-top: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.login {
  margin-bottom: 30px;
  text-align: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 모바일 화면에서 적용될 스타일 */
@media screen and (max-width: 800px) {
  .navbar {
    padding: 10px 15px; /* 네비게이션 바의 패딩 축소 */
    margin-bottom: 50px; /* 네비게이션 바와 슬라이더 사이 여백 축소 */
  }

  .logo a {
    font-size: 25px; /* 로고 폰트 크기 축소 */
  }

  /* .navbar ul { */
  /* display: none;  */
  /* 네비게이션 바의 버튼 메뉴 숨기기 */
  /* } */

  .first-swiper {
    width: 100%; /* 슬라이더 전체 너비로 설정 */
    margin: 20px auto; /* 슬라이더의 상하 여백 조정 */
  }

  .swiper-slide {
    text-align: center; /* 슬라이드 내용 가운데 정렬 */
  }

  /* .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-scrollbar {
      display: none; 
      
    } */
  /* 슬라이더 컨트롤 숨기기 */

  .loginModal {
    width: 90%; /* 로그인 모달 창 너비 조정 */
    left: 5%; /* 화면 가운데 정렬 */
    top: 20%; /* 상단 여백 추가 */
  }

  .modal-content {
    padding: 20px; /* 내부 패딩 축소 */
  }

  .login-box input {
    width: 100%; /* 입력 필드 너비를 100%로 설정하여 화면에 꽉 차게 함 */
  }

  .login-btn {
    width: 100%; /* 로그인 버튼 너비 조정 */
    margin-top: 20px; /* 버튼과 입력 필드 사이 여백 추가 */
  }

  .modal-content {
    margin: 10% auto; /* 모달 창을 화면 중앙으로 이동 */
    padding: 15px; /* 내부 패딩 축소 */
    width: 80%; /* 모달 창 너비 조정 */
    max-width: 300px; /* 최대 너비 지정 */
    border: none; /* 테두리 제거 */
  }

  form input {
    width: 100%; /* 입력 필드 너비를 100%로 설정하여 화면에 꽉 차게 함 */
  }

  .close {
    font-size: 24px; /* 닫기 버튼 아이콘 크기 조정 */
    top: 5px; /* 닫기 버튼 위치 조정 */
    right: 10px;
  }

  .login-btn {
    width: 100%; /* 로그인 버튼 너비 조정 */
    margin-top: 20px; /* 버튼과 입력 필드 사이 여백 추가 */
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.8); /* 배경 투명도 조정 */
  }
}
