* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #050C0A;
}

span {
    color: white;
}

.navbar {
    background: #050C0A;
    padding: 0 15px;
    margin-bottom: 100px;
    margin-top: 10px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

button {
    background-color: #B20710;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    border: none;
    outline: none;
    color: white;
}

button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* first slider */

.first-swiper {
    width: 60%;
    margin-bottom: 50px;
}

.first-swiper .swiper-slide {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    background: #ccc;
    padding: 20px;
}

.first-swiper .swiper-slide img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.first-swiper .swiper-slide p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
    color: #B20710 !important
}

.swiper-pagination .swiper-pagination-bullet {
    background: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #B20710;
}

/* hide the scrollbar temporary */
.swiper-scrollbar {
    display: none;
}


/* movie slider */
.card-content img {
    width: 200px;
    height: 300px;
}

.movie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    padding: 10px;
}

.card-content {
    overflow: hidden;
}

.card__button {
    display: inline-block;
    background-color: #B20710;
    padding: 10px 5px;
    border-radius: 2px;
    color: white;
}


.second-swiper {
    width: 100%;
    margin-bottom: 50px;
}


.second-swiper .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-swiper .card-container {
    width: 100%;
    height: 100%;
}

.second-swiper .card-content img {
    max-width: 100%;
    height: auto;
}

h3 {
    color: white;
    margin-left: 30px;
    margin-bottom: 20px;

}



/* footer */
.footer {
    background-color: #050C0A;
    height: 100px;
}

/* modal */

.hidden {
    display: none;
}


.loginModal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* position the close button */
    position: relative;
    text-align: center;
}

form input {
    width: 50%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}


.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.login-btn {
    background: #B20710;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    margin-top: 10px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.login {
    margin-bottom: 30px;
    text-align: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}