/* 주연님이 만드신거 고대로 가져왔음! */
.navbar {
  background: #050C0A;
  padding: 0 15px;
  margin-bottom: 100px;
  margin-top: 10px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

button {
  background-color: #B20710;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
  border: none;
  outline: none;
  color: white;
}

button a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.search-box-wrapper{
  font-size: 2rem;
  display: flex;
  border-bottom: 2px solid white;
}
.search-box-word{
  width: 100%;
  padding-bottom: 0px;
  text-align: right;
  background:none;
  border:none;
  outline: none;
}
.search-box-btn{
  background: none;
}
.search-box-Smethod{
  cursor: pointer;
}

 .m-search-box-wrapper{
  display: none;
 }


@media screen and (max-width: 500px) {

  /* .navdiv {
    flex-wrap: wrap;
  }

  .search-box-wrapper{
    display: none;
  }


  .m-search-box-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.875rem;
    padding: 1.125rem 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
   }

   .m-search-box-Smethod{
    width: 15%;
  }

  .m-search-box-word{
    width: 40%;
    padding-bottom: 0px;
    text-align: right;
    background:none;
    border:none;
    outline: none;
  }

  .m-search-box-btn{
    background-color: #B20710;
  } */


  .loginModal {
    width: 90%; /* 로그인 모달 창 너비 조정 */
    left: 5%; /* 화면 가운데 정렬 */
    top: 20%; /* 상단 여백 추가 */
  }

  .modal-content {
    padding: 20px; /* 내부 패딩 축소 */
  }

  .login-box input {
    width: 100%; /* 입력 필드 너비를 100%로 설정하여 화면에 꽉 차게 함 */
  }

  .login-btn {
    width: 100%; /* 로그인 버튼 너비 조정 */
    margin-top: 20px; /* 버튼과 입력 필드 사이 여백 추가 */
  }

  .modal-content {
      margin: 10% auto; /* 모달 창을 화면 중앙으로 이동 */
      padding: 15px; /* 내부 패딩 축소 */
      width: 80%; /* 모달 창 너비 조정 */
      max-width: 300px; /* 최대 너비 지정 */
      border: none; /* 테두리 제거 */
    }
  
    form input {
      width: 100%; /* 입력 필드 너비를 100%로 설정하여 화면에 꽉 차게 함 */
    }
  
    .close {
      font-size: 24px; /* 닫기 버튼 아이콘 크기 조정 */
      top: 5px; /* 닫기 버튼 위치 조정 */
      right: 10px;
    }
  
    .login-btn {
      width: 100%; /* 로그인 버튼 너비 조정 */
      margin-top: 20px; /* 버튼과 입력 필드 사이 여백 추가 */
    }
  
    .overlay {
      background-color: rgba(0, 0, 0, 0.8); /* 배경 투명도 조정 */
    }
}