body {
  padding: 0;
  margin: 0;
  background-color: #050c0a;
}

div,
main,
section {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  list-style: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


/* 15 픽셀 = 0.9375rem */
/* 18 픽셀 = 1.125rem */
/* 20 픽셀 = 1.25rem */
/* 30 픽셀 = 1.875rem */
/* 40 픽셀 = 2.5rem */
/* 50 픽셀 = 3.125rem */

#page_container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

#movie_info_container {
  width: 100%;
  margin-top: 50px;
}

.poster_container {
  width: 20%;
  max-width: 220px;
  margin-right: 50px;
}

.poster_box img {
  width: 100%;
}
.releaseBox {
  margin-top: 1.87rem;
  text-align: center;
}

.info_container {
  width: 100%;
}

.sub_info_box {
}
.story_box {
  width: 100%;
  /* padding-top: 50px; */
  padding-top: 3.125rem;
}

.detail_info_box {
  width: 100%;
}

.trailer_box {
  max-width: 100%;
}
.trailer_box video {
  width: 100%;
}

.movie_title {
  width: 100%;
  border-bottom: 1px solid #262626;
}
.movie_title > .contents_title {
  margin-bottom: 30px;
}

.sub_detail_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 0;
}

.detailNcastBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.detail_box {
  width: 50%;
}

.detail_info_list {
  display: flex;
  margin-top: 1.875rem;
  padding: 1.875rem;
  border-radius: 8px;
  border: 1px solid #262626;
  height: 180px;
}

.directorBox {
  width: 50%;
}

.genreBox {
  width: 50%;
}

.cast_box {
  width: 45%;
}

.cast_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1.875rem;
  padding: 2.5rem 1.875rem;
  border-radius: 8px;
  border: 1px solid #262626;
  height: 180px;
}

.cast_list li {
  display: inline-block;
  padding: 0.5rem 0.937rem;
  color: #fff;
}

/* 스토리 라인 */

.story_text {
  margin-top: 1.875rem;
  padding: 1.875rem;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #262626;
}

/* 공통 클래스 */

.commonBox {
  margin-top: 1.875rem;
  padding: 1.875rem;
  border-radius: 8px;
  border: 1px solid #262626;
}

.commonTitle {
  font-size: 1.125rem;
  color: #999;
}

.commonText {
  display: inline-block;
  margin-top: 0.937rem;
  color: #fff;
}

/* 리뷰 섹션 */

#review_container {
  border-top: 1px solid #262626;
  padding: 3.125rem 0;
}

.review_btn_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3.125rem;
}

.createReviewBtn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #b20710;
  transition: all 600ms;
  width:110px;
}

.createReviewBtn:hover {
  border: 1px solid #b20710;
  color: #b20710;
  background-color: #050c0a;
}

.likeBox {
  display: flex;
  align-items: center;
  width: 10%;
}
.like-btn-img{
    height: 10px;
    width: 10px;
    background-image: url('../img/icon-heart-full.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.review_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user_rating {
  width: 60%;
}

.review_content {
  height: 150px;
  margin: 1.25rem 0;
  padding: 1.25rem 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.review_date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 리뷰 작성 모달 창 */
.movie_review_modal_bg {
  /*팝업 배경*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background: rgba(0, 0, 0, 0.6);
}
.movie_review_modal {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
}
 

.form_btn_section {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem;
}

#reviewPost {
  margin-top: 1.25rem;
}

.buttonClose {
  display: block;
  padding: 10px 20px;
  background-color: #b20710;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.reviewSubBtn {
  display: block;
  padding: 10px 20px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.reviewSubBtn:hover{
  background-color: green;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  background-color: white;
}

.load_more {
  display: block;
  margin: 0 auto;
  margin-top: 1.875rem;
  padding: 0.75rem 1.562rem;
  text-align: center;
  color: #eee;
  font-size: 18px;
  border: 1px solid #eee;
  width: 120px
}

/* 별점 주기 */
.review_box {
  width: 30%;
  max-height: 300px;
  padding: 1.25rem;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-bottom: 1.875rem;
  /* color: #eee; */
  /* border: 1px solid #262626; */
}

.rating {
  margin-top: 20px;
  width: 100%;
  max-width: 205px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 5px;

  /* border-radius: 10px; */
  /* box-shadow: 0 0 2px #b3acac; */
}

.rating_num {
  color: #eee;
}

.rating__result {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10px) translateX(-5px);
  z-index: -9;
  font-size: 3em;
  color: #ebebeb8e;
  pointer-events: none;
}

.rating__star {
  font-size: 1.3em;

  color: #dabd18b2;
  transition: filter linear 0.3s;
}

.rating__star:hover {
  filter: drop-shadow(1px 1px 4px gold);
}

/* 폰트 */

.contents_title {
  font-size: 30px;
  color: #fff;
}

.content_text {
  font-size: 16px;
  color: #fff;
}

.review_box span{
  color: #000;
}

.review_content p{
  color: #000;;
}




.likeBtn, .editBtn{
  margin-left: 0;
  border-radius: 0;
  padding: 0;
  font-weight: normal;
}

.editBtn{
  width: auto;
}

.likeBtn:hover{
  background-color: transparent;
}

.editBtn:hover{
  background-color: transparent;
}

.likeCount{
  color: #000;
}

.write_date{
  width: 50%;
}

.deleteBtn{
  margin-left: 0;
  border-radius: 0;
  padding: 5px;
  width: auto;
}

.warningBtn{
  margin-left: 0;
  border-radius: 0;
  padding: 5px;
  width: auto;
}

.deleteBtn:hover{
  background-color: transparent;
}
.warningBtn:hover{
  background-color: transparent;
}

.rating_btn input{
  width: auto;
  border: none;
  padding: 0;
  margin-bottom: 0;
  border-radius: 0;
  background: transparent;
}
.rating_btn label{
  color: #000;
  margin-right: 5px;
}

.rating_btn span{
  color: #000;
}



@media (max-width: 800px) {
  #page_container {
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
  }

  /* Movie Info Container */
  #movie_info_container {
    margin-top: 20px;
  }

  .sub_detail_box {
    flex-direction: column;
    align-items: center;
  }

  .poster_container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.875rem;
  }

  .poster_box {
    text-align: center;
  }

  .poster_box img {
    width: 60%;
  }

  .rating_box {
    display: inline-block;
    width: 45%;
  }

  .rating {
    margin-top: 0;
  }

  .releaseBox {
    display: inline-block;
    width: 45%;
    margin-top: 30px;
  }

  .detailNcastBox {
    width: 100%;
  }

  .detail_box,
  .cast_box {
    width: 100%;
  }

  .detail_info_list {
    width: 100%;
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 1.25rem;
    height: 180px;
  }

  .directorBox,
  .genreBox {
    width: 45%;
  }

  .cast_box {
    margin-top: 1.875rem;
  }

  .cast_list {
    justify-content: flex-start;
    padding: 1.25rem;
    /* overflow-x: scroll;
      -webkit-overflow-scrolling: touch; */
  }

  .cast_list li {
    white-space: nowrap;
    margin-right: 10px;
  }

  /* Review Section */
  .review_section {
    /* flex-direction: column; */
  }

  .review_box {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .load_more {
    margin-top: 1.25rem;
  }
}
