body{
    background-color: #141414;
    /* height: 100vh;
    display: grid; */
    /* place-items: center;
    overflow: hidden; */
}

ul{
    padding-inline-start: 0;
}

li{
    list-style: none;
}


#page_container{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

#movie_info_container{
    display: flex;
    justify-content: space-between;
}



.poster_container{
    width: 18%;
    max-width: 205px;
}

.poster_box img{
    width: 100%;
}


.info_container{
    width: 80%;
    max-width: 980px;
}

.sub_info_box{

}
.story_box{
    border-top: 1px solid #aaa;
}


.detail_info_box{
    width: 100%;
}


.trailer_box{
    margin: 0 auto;
    max-width: 80%;
}
.trailer_box video{
    width: 100%;
}


.movie_title{
    width: 100%;
    border-bottom: 1px solid #aaa;
}
.sub_detail_box{
    display: flex;
}




.detail_box{
    width: 55%;
}

.detail_info_list{

}

.detail_info_list li{
    margin-bottom: 20px;
    color: #ccc;
}

.director, .release_dat, .genre{
    color: #fff;
}

.cast_box{
    width: 40%;
    margin-left: 30px;
}

.cast_list li{
    margin-bottom: 20px;
    color: #fff;
}





/* 리뷰 섹션 */

#review_container{
    display: flex;
    justify-content: space-around;
}

.review_box{
    width: 23%;
    background: #eee;
}










/* 리뷰작성 모달창 */


/* 리뷰 작성 모달 창 */
.movie_review_modal_bg {
    /*팝업 배경*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    background: rgba(0,0,0,0.5);
}
.movie_review_modal {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}
.buttonClose {
    display: block;
    padding: 10px 20px;
    background-color: #B20710;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    background-color: white;
}

















/* 별점 주기 */
.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font-size: 3em;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }




/* 폰트 */

.contents_title{
    font-size: 30px;
    color: #fff;
}

.content_text{
    font-size: 16px;
    color: #fff;
}


