*{
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #141414;
}

ul{
    padding-inline-start: 0;
}

li{
    list-style: none;
}


.swiper {
    width: 100%;
    height: 500px;
  }

/* 모든것을 담고 있는 컨테이너*/
#movie_info_container{
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}



/* 영화 포스터 이미지 섹션 */
#movie_poster{
    position: relative;
    width: 100%;
    max-width: inherit;
    text-align: center;
    margin-bottom: 100px;
}
.poster_box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.movie_title{
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}




/* 영화 정보 섹션 */
#movie_info_sub_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/* 영화 정보 섹션 안에서 .movie_info_01, 02 2개의 영역으로 나뉨 */
.movie_info_01{
    width: 65%;
    max-width: 1050px;
    /* background: beige; */
}

.movie_info_02{
    width: 32%;
    max-width: 520px;
}



/* 영화정보 내에서 공통으로 쓰이는 클래스 */
.movie_common{
    /*  각 영화 정보들의 외형적으로 공통인 것들 */
    width: 100%;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
    background-color: #1A1A1A;
}
.info_sub_title{
    /* 각 정보 제목들 */
    color: #999;
}
.info_sub_content{
    /* 각 정보 내용들 */
    margin-top: 30px;
}



.movie_description{

}



.movie_cast{
}
.cast_list{
    display: flex;
    margin-top: 30px;
}
.cast_list li{
    margin-right: 20px;
    padding: 8px 14px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #141414;
}

/* 영화 리뷰 */
.movie_review{

}

.info_sub_box{
    display: flex;
    justify-content: space-between;
}

.button_open{
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    background-color: #B20710;
}

.review_post_container{
    display: flex;
    justify-content: space-between;
}
.review_post_container li{
    width: 48%;
    padding: 8px 14px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #141414;
}





/* 개봉일 정보 */
.movie_release{
    width: 100%;
    margin-bottom: 30px;
}


/* 영화 장르 정보 */
.movie_genre{
    width: 100%;
    margin-bottom: 30px;
}
.genre_list{
    display: flex;
   
}
.genre_list li{
    margin-right: 20px;
    padding: 8px 14px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #141414;
}


/* 영화 감독 정보 */
.movie_director{
    width: 100%;
    margin-bottom: 30px;
}
.director_name{
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #141414;
}


/* 리뷰 작성 모달 창 */
.movie_review_modal_bg {
    /*팝업 배경*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    background: rgba(0,0,0,0.5);
}
.movie_review_modal {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}
.button_close {
    display: block;
    padding: 10px 20px;
    background-color: #B20710;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    background-color: white;
}