* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1 rem;

}

body {
    background: #050C0A;
    min-height: 100vh;
    position: relative;
}

span {
    color: white;
}

h3 {
    color: white;
    margin-left: 30px;
    margin-bottom: 20px;
}

/* modal */

.hidden {
    display: none;
}

.loginModal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    /* position the close button */
    position: relative;
    text-align: center;
}

form input {
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.login-btn {
    background: #B20710;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.login {
    margin-bottom: 30px;
    text-align: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* searchResult page/ 결과 출력 박스들 디자인 css */
.search-result-section{
    position: absolute;
    max-width:  768px;
    min-width:  768px;
    left: calc(50% - 384px);
}
.search-result-wrapper{
    /* 기본 스타일을 위해서 */
    margin: 5px;
    border-radius: 5px;
    background: #3a3a3a5b;
    /* 컨텐츠의 배치를 위해서 */
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}
.search-result-image img{
    width: 100px;
    height: 150px;
}
.search-result-content{
    display: block;
}
.show-next-page-btn {
    width: 100px; 
    margin: 20px auto 0; 
    padding: 10px 0;    
    background-color: #B20710;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.show-next-page-btn:hover {
    background-color: #6d050c; /* 호버 시 색상 변경 */
}

