* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #050C0A;
}

.navbar {
    background: #050C0A;
    padding: 0 15px;
    margin-bottom: 100px;
    margin-top: 10px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

button {
    background-color: #B20710;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    border: none;
    outline: none;
    color: white;
}

button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.signup-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
}

.wrapper {
    width: 500px;
    padding: 32px 16px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 32px;
    color: #07001f;
    margin-bottom: 60px;
}

form input {
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

.signup-btn {
    font-size: 16px;
    margin-top: 28px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 80%;
    color: #fff;
    cursor: pointer;
    background-color: #B20710
}

.signup-btn:hover {
    background-color: #8C0610;
    /* Slightly darker shade */
}

input:focus {
    border: 1px solid rgb(192, 192, 192)
}