<!-- Navbar -->

<nav class="navbar">
  <div class="navdiv">
    <div class="logo">
      <a href="/">MovieMemo</a>
    </div>
    <div class="search-box-wrapper">
      <!-- <div class="search-box-text">search</div> -->
      <div class="search-box-Smethod"><span style="color: red; font-size: 2rem;">T</span style="color:white">itle</div>
      <input class="search-box-word" style="color:white" type="text" placeholder="영화 제목을 입력해주세요">
      <button class="search-box-btn">검색</button>
    </div>        
    <ul>
      <button id="adminButton" class="hidden"><a href="/adminpage">관리자전용</a></button>
      <button><a href="/register">회원가입</a></button>
      <button id="openLoginModal"><a href="#">로그인</a></button>
    </ul>
    <!-- mobile search box -->
    <div class="m-search-box-wrapper">
      <!-- <div class="search-box-text">search</div> -->
      <div class="m-search-box-Smethod"><span style="color: red; font-size: 2rem;">T</span style="color:white">itle</div>
      <input class="m-search-box-word" style="color:white" type="text" placeholder="영화 제목을 입력해주세요">
      <button class="m-search-box-btn">검색</button>
    </div>
  </div>
</nav>
<body>
    <!-- modal -->
    <div class="loginModal hidden">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="login">로그인</h2>
        <form id="login-form" action="/login" method="post">
          <div class="login-box">
            <input type="text" id="user-id" name="user-id" placeholder="id" />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="password"
            />
            <div id="error-container"></div>
            <button class="login-btn" type="submit">로그인</button>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay hidden"></div>
