<!-- Navbar -->
<nav class="navbar">
  <div class="navdiv">
    <div class="logo">
      <a href="#">MovieMemo</a>
    </div>
    <ul>
      <button><a href="/register">회원가입</a></button>
      <button id="openLoginModal"><a href="#">로그인</a></button>
    </ul>
  </div>
</nav>